.shoes-form{
    position: fixed;
    border: 2px solid #000;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding-top: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    &__close-button{
        position: absolute;
        top: 0px;
        right: 0px;
        background: none;
        border: none;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        border-radius: 0 0 0 10px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &__input{
        margin: 0 50px 10px;
        border: 1px solid #000;
    }
    &__button{
        margin-top: 30px;
        padding: 10px 0;
        background: none;
        border: none;
        border-top: 1px solid #000;
        cursor: pointer;
        font-weight: 700;
    }
}